<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.usermatch.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="com.example.usermatch.model.domain.Tag">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tagname" column="tagname" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="parentid" column="parentid" jdbcType="BIGINT"/>
            <result property="isparentid" column="isparentid" jdbcType="BIGINT"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tagname,userId,
        parentid,isparentid,userPassword,
        createTime,updateTime,isDelete
    </sql>
</mapper>
